<%- include('blocks/topBlock', {title: 'Home'}, logout = true) -%>

<div class="pageHeader">
    <p>Users:</p>
    <p>Chat:</p>    
</div>

<div class="userList">    
    <% activeUserList.map(item => { %>
        <a 
            data-userId="<%= item.userId %>"
            data-username="<%= item.username %>"
            href="/chat/<%= item.userId %>" 
            style="color:#00ff41"
        >
            <%= item.username %>
        </a><br>
    <% }) %> 
    <% inactiveUserList.map(item => { %>
        <a href="<%= item.userId %>"><%= item.username %></a><br>
    <% }) %>   
    <br>
    <p>Channels:</p><br>
    <a href="">GENERAL</a>
</div>
 
<div class="chat">
    <div class="chatWindow" id="chatWindow">        
    </div>
    <br>
    <form id="form">
        <input id="input" autocomplete="off" class="chatInput">
        <button class="chatBtn">SEND</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chatSocket.js"></script>

<%- include('blocks/bottomBlock') -%>