<% if(typeof title === 'undefined') {title = 'Marix'} %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="statusDiv">
        <p>Status:</p>
        <% if(typeof status_msg != 'undefined') { %>
            <% status_msg.map(item => { %>
                <br><p><%= item.msg %></p>
            <% }) %>
        <% } %>
        <% if(success_msg != '') { %>
            <br><p><%= success_msg %></p>
        <% } %>
        <% if(error_msg != '') { %>
            <br><p><%= error_msg %></p>
        <% } %>
        <% if(error != '') { %>
            <br><p><%= error %></p>
        <% } %>
        <% if(logout === true){ %>
            <br><a href="">>> Settings >></a><br>
            <br><a href="/users/logout"><< Log out <<</a>
        <% } %>
    </div>